doctype xml
xml
  ToUserName <![CDATA[#{toUser}]]>
  FromUserName <![CDATA[#{fromUser}]]>
  CreateTime= time
  MsgType <![CDATA[video]]>
  Video
    MediaId <![CDATA[#{mediaId}]]>
    Title <![CDATA[#{title}]]>
    Description <![CDATA[#{description}]]>